{% extends 'base.html' %}
{% block body %}
<div class="card">
  <div class="content">
    <h1>Guide</h1>
    <p>If you have not yet, you need to join a group to share</p>
    <p>You can ask your local group to make one, if not, make one yourself</p>
    <p>See the navigation bar, there is a 'NEW GROUP' button, click it, then keep the seed as is</p>
    <p>It'll show you a seed, you need to share it with whom you want to invite to your group (like friends)</p>
    <p><b>KEEP THE SEED SECRET OTHERWISE ALL THE SECURITY WILL BE COMPROMISED</b></p>
    <p>When new friends come into your group, instead of 'none' use that seed as seed</p>
    <h1>Setting up users</h1>
    <p>Antisocial is purely in-memory for amnesic reasons, but if you keep your password and pseudonym private,
      it'll generate the same keys every time..</p>
    <p>Also, it's recommended to save the group seed somewhere (on paper, encrypted text file, etc.) because that'll be required
      to bootstrap every time too</p>
  </div>
</div>

{% endblock body %}
